.jumbo_book {
    height : 90vh;
    position : relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bookmarket_search.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin-bottom: 20px;
    padding-top: 0px;
     /*linear-gradient(to right, black 0%,white 100%),*/
}

.jumbo_book > .container {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.jumbo_book > .container > .justify-content-md-center {
    margin-top: 15vh;
}

.next_search {
    position : relative;
}

.next_search > .form-inline {
    position : absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

