
<!-- 모달 : bid_cancel_user.html, 마이페이지 북마켓에서 유저가 bid 수정 혹은 취소용 -->
<form method="POST" action="{% url 'mypage:seek_detail' %}">
    {% csrf_token %}
    <div class="modal fade" id="seek_detail{{forloop.counter}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ seek.departure }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ seek.destination }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Depart Time</label>
                        <div class="col-8">
                            <input class="form-control"type="text" placeholder="{{ seek.depart_date }} {{ seek.depart_time }}" id="example-text-input" name="date" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Person</label>
                        <div class="col-8">
                            <input class="form-control"type="text" placeholder="{{ seek.now_person }} / {{ seek.num_person }}" id="example-text-input" name="now_person" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Content</label>
                        <div class="col-8">
                            <input class="form-control"type="text" placeholder="{{ seek.content }}" id="example-text-input" name="content" disabled>
                            <input class="form-control"type="hidden" name="seek_id" value="{{ seek.id }}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if seek.condition == "SEEKING" %}
                    <button type="button" class="btn btn-primary" >Confirm</button>
                    <button type="submit" class="btn btn-danger"  name="delete" value="1">Delete</button>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled>Confirm</button>
                    <button type="submit" class="btn btn-danger"  name="delete" value="1"disabled>Delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>