{% extends "base.html" %}
 
{% block content %}
<div class="container">
    
    <div class="row justify-content-md-center">
        상세보기 후 입찰 ㄱ ㄱ !
    </div>
    <div class="row justify-content-md-center"> <!-- for search box -->
        <div class="col-md-2">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Category</option>
                <option value="1">Major English</option>
                <option value="2">Major Korean</option>
                <option value="3">Liberal Arts</option>
                <option value="4">ETC</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="EX) Calculus / Thomas" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <button type="button" class="btn btn-primary">Register</button>
        </div>
        
    </div>
    <div class="row"> <!-- for visualization -->
        Visualation 날짜 들어갈 곳 !
    </div>
    <div class="row"> <!-- table -->
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Category</th>
              <th>Title</th>
              <th>Author</th>
              <th>Current <i class="fa fa-krw" aria-hidden="true"></i></th>
              <th>Immediate <i class="fa fa-krw" aria-hidden="true"></i></th>
              <th>End Date</th>
              <th>State</th>
              <th><i class="fa fa-search-plus" aria-hidden="true"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
    </div>

</div>
{% endblock content %}