{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
</div>
<div class="jumbotron jumbo_book">
    <div class="container">
        <!--{% if messages %}-->
        <!--    {% for message in messages %}-->
        <!--    <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
        <!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--        <span aria-hidden="true">&times;</span>-->
        <!--      </button>-->
        <!--      <strong>{{ message }}</strong>-->
        <!--    </div>-->
        <!--    {% endfor %}-->
        <!--{% endif %}-->
        <form method="POST" action="{% url 'bookmarket:searching' %}">
            <div class="row justify-content-md-center"> <!-- for search box -->
            {% csrf_token %}
                <div class="col-md-2">
                    <select class="form-control input-lg mb-2 mr-sm-2 mb-sm-0" name="selected_category" style="height: 100%;">
                        <option selected value="Major English">Major English</option>
                        <option value="Major Korean">Major Korean</option>
                        <option value="Liberal Arts">Liberal Arts</option>
                        <option value="ETC">ETC</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="EX) Calculus / Thomas" name="selected_title" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="submmit" class="btn btn-primary btn-lg"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row justify-content-md-center"> 
            <div class="col-md-12 next_search">
                <form class="form-inline">
                    <div class="form-group">
                        <label><h2 class="text-uppercase" style="color:#fff"> <strong>Register your product</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="{% if user.is_authenticated %}#register{% else %}#alarm_login{% endif %}">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        {% include 'bookmarket/modals/register.html' %}
        {% include 'modals/alarm_login.html' %}

<div class="container">

        {% include 'bookmarket/partials/image_card.html' %}

</div>
{% endblock content %}
