<form method="POST" action="{% url 'taxipool:seek_new' %}">
    {% csrf_token %}
    <div class="modal fade" id="seek">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seek your Taxi Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Departure</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="UNIST, Ulsan station..." id="example-text-input" name="departure">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Destination</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Ulsan Univ, Gu-young ri..." id="example-text-input" name="destination">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Depart Date</label>
                        <div class="col-8">
                            <input class="form-control" type="date" value="{% now "Y-m-d" %}" id="example-date-input" name="depart_date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Depart Time</label>
                        <div class="col-8">
                            <input class="form-control" type="time" value="{% now "G-i" %}" id="example-time-input" name="depart_time">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Recruiting P.N<br>(Up to 4)</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Limitation of taxi sharing members" id="example-text-input" name="num_person">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="example-text-input" class="col-4 col-form-label">Content</label>
                      <div class="col-12">
                          <textarea class="form-control" placeholder="Any comment you want to mention briefly" id="example-textarea-input" name="content" rows="5"></textarea>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Seek</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
