<form method="POST" action="{% url 'bookmarket:bidding' %}">
    {% csrf_token %}
    <div class="modal fade" id="details{{forloop.counter}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ prod.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                  <table class="table table-user-information col-sm-10 offset-1" >
                    <tbody>
                      <tr>
                        <td>Subject</td>
                        <td>{{ prod.subject }}</td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td>{{ prod.state }}</td>
                      </tr>
                      <tr>
                        <td>Due data</td>
                        <td>{{ prod.closing_date|date:"d/M/Y" }}</td>
                      </tr>

                      <tr>
                        <td>Immidiate price</td>
                        <td>{{ prod.imm_price }}</td>
                      </tr>
                      <tr>
                        <td>Current price</td>
                        <td>{{ prod.current_price }}</td>
                      </tr>
                      <tr>
                        <td>Bidding <i class="fa fa-krw" aria-hidden="true"></i></td>
                        <td><input class="form-control" type="text" placeholder="{{ prod.current_price }}" name="bidding_price"></td>
                        <td><input class="form-control" type="hidden" name="product_id" value="{{ prod.id }}"></td>
                        <td><input class="form-control" type="hidden" name="current_price1" value="{{ prod.current_price }}"></td>
                        <td><input class="form-control" type="hidden" name="condition1" value="{{ prod.condition }}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Bid</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
