<form method="POST" action="{% url 'bookmarket:register_new' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="register">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register your product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Category <small>(sellcet)</small></label>
                        <div class="col-8">
                            <select class="form-control" id="exampleSelect1" name="category">
                                <option value="Major English">Major English</option>
                                <option value="Major Korean">Major Korean</option>
                                <option value="Liberal Arts">Liberal Arts</option>
                                <option value="ETC">ETC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Title</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Engineering programming 1 book" id="example-text-input" name="title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Subject</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Engineering programming 1" id="example-text-input" name="subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Author</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Optional" id="example-text-input" name="author">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Starting price</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Starting price" id="example-text-input" name="init_price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Immediate price</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Immediate price" id="example-text-input" name="imm_price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Due Date</label>
                        <div class="col-8">
                            <input class="form-control" type="date" value="{% now "Y-m-d" %}" id="example-date-input" name="closing_date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">State <small>(sellcet)</small></label>
                        <div class="col-8">
                            <select class="form-control" id="exampleSelect1" name="state">
                              <option>A (Like new condition)</option>
                              <option>B (Has some used traces)</option>
                              <option>C (Lots of used traces or some damage)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Image</label>
                        <div class="col-8">
                            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="image">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
