<!-- 모달 : cancel_user.html, 마이페이지 택시풀에서 유저가 본인이 신청한 taxi sharing 취소용 -->
<form method="POST" action="{% url 'mypage:cancel_user_Taxi' %}">
    {% csrf_token %}
    <div class="modal fade" id="cancel_user_taxi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Departure time</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 출발 시각 들어감" id="example-text-input" name="depart_time" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Departure</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 출발지 들어감" id="example-text-input" name="departure" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Destination</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 도착지 들어감" id="example-text-input" name="destination" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Number of Person(Limit)</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 모집 인원 들어감" id="example-text-input" name="num_person" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <h4 class="col-12 text-danger">Delete your Attending(Please decide carefully)</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 offset-8">
                            <button type="submit" class="btn btn-warning">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>