<!-- 모달 : show_seeker.html, 마이페이지 택시풀에서 유저가 모집 참가 및 성공하여 seeker 신상정보 확인용 -->
<form method="POST" action="{% url 'mypage:show_Seeker' %}">
    {% csrf_token %}
    <div class="modal fade" id="show_seeker">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> The user who matches you </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Nickname</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 seeker 닉네임(or 메일) 들어감" id="example-text-input" name="nickname" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">H.P.</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="#여기에 seeker 폰 번호 들어감" id="example-text-input" name="HP" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4 class="text-danger text-center">Have a successful deal with a matched user through moaU!</h4>
                </div>
            </div>
        </div>
    </div>
</form>