.page-wrapper {
  padding-left: 180px;
}

#sidebar-wrapper {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 250px;
  height: 100%;
  /*background: #000;*/
  background : linear-gradient(to bottom, rgba(59, 58, 54, 0.8), #c0dfd9);
  overflow-x: hidden;
  overflow-y: auto;
}


.page-content-wrapper {
  width: 100%;
  padding-left: 20px;
}
/* 사이드바 스타일 */

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 1.5em;
  line-height: 3.8em;
  font-size : larger;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  color: #fff; 
  background: rgba(0, 0, 0, 0.9);
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.4em;
  line-height: 3em;
  color:#EA53FF !important;
  font-weight: bold;
}

.sidebar-nav li:first-child {
  margin-top: 20px;
}

.sidebar-nav li:nth-child(2) {
  margin-top: 50px;
}

.sidebar-nav li:nth-child(5) {
  margin-top: 300px;
}
/* 공통 */

h3 {
  margin-bottom: 15px;
}

/* Changeinfo */

.changeinfo_mr {
  border: 2px solid #a1a1a1;
  border-color: #5cb85c;
  padding: 20px 60px;
  width: 750px;
  height: 300px;
  margin-top: 240px;
  margin-bottom: 150px;
  border-radius: 15px;
}

.changeinfo_mr h3, h4 {
   margin-bottom: 30px;
}

/* Table Text Centering */

.table th, td {
   text-align: center;   
   /*vertical-align: middle;*/
}


.table > thead > tr > th, .table > tbody > tr > td {
  vertical-align: middle;
}

/* Margin */
.page-content-wrapper > h1 {
  margin-top: 70px;
}

.page-content-wrapper > h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Container_mp */

@media (min-width: 1420px) {
  .container {
    width: 1380px !important; 
  }
  
  .container_mp {
    width: inherit;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1176px !important; 
  }

  .container_mp {
    width: inherit;
    max-width: 100%;
  }
}

.container_mp {
    position: relative;
    padding-left: 15px;
    margin-bottom: 60px;
}