{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- 마이페이지 : 마이페이지 기본 화면 : 닉네임 설정 -->

  <!-- 사이드바 -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">My Page</li>
        <li><a href="{% url 'mypage:mp_bookmarket' %}">Book Market</a></li>
        <li><a href="{% url 'mypage:mp_groupbuying' %}">Group Buying</a></li>
        <li><a href="{% url 'mypage:mp_taxipool' %}">Taxi Pool</a></li>
        <li><a style="color: #fff; background: rgba(255, 255, 255, 0.2);" href="#">Change Information</a></li>
        <li><a href="#">Delete Account</a></li>
      </ul>
    </div>
  <!-- /사이드바 -->
  
  <!-- 본문 -->
  <div class="container">
    <div class="page-wrapper">
      <div class="page-content-wrapper">
        {% for i in "12345" %}
          <h2 style="text-indent:9999px;">blank</h2>        
        {% endfor %}
        <div class="changeinfo_mr">
          <h3> Your Nickname(Or Base E-mail) </h3>
          <p style="text-indent:9999px;">blank</p>
          <h4> ☞  &nbsp;wnrnrdl@naver.com </h4>
          <h2 style="text-indent:9999px;">blank</h2>
          <form class="form-inline">
            <div class="form-group has-success has-feedback">
              <label class="col-sm-5 control-label" for="inputSuccess">Input your new Nickname.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputSuccess">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
        </div>
        {% for i in "1234567" %}
          <h2 style="text-indent:9999px;">blank</h2>        
        {% endfor %}
      </div>
    <!-- /본문 -->
    </div>
  </div>
{% endblock content %}