{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- 마이페이지 : taxipool 화면-->

  <!-- 사이드바 -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">My Page</li>
        <li><a href="{% url 'mypage:mp_bookmarket' %}">Book Market</a></li>
        <li><a href="{% url 'mypage:mp_groupbuying' %}">Group Buying</a></li>
        <li><a style="color: #fff; background: rgba(255, 255, 255, 0.2);" href="#">Taxi Pool</a></li>
        <li><a href="{% url 'mypage:changeinfo' %}">Change Information</a></li>
        <li><a href="#">Delete Account</a></li>
      </ul>
    </div>
  <!-- /사이드바 -->
  
  <!-- 본문 -->
  <div class="container">
    <div class="page-wrapper">
      <div class="page-content-wrapper">
        <h2 style="text-indent:9999px;">blank</h2>
        <h2 style="text-indent:9999px;">blank</h2>
        <h1>MyPage - Taxi Pool</h1>
        <h2 style="text-indent:9999px;">blank</h2>
        <h3 class="text-center"> Taxi Pool : Attend Status</h3>
        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Departure time(MM. DD, HH)</th>
              <th>Departure</th>
              <th>Destination</th>
              <th>Number of Person(Limit)</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6. 8, 23시</td>
              <td>유니스트</td>
              <td>울산역</td>
              <td>2 / 3</td>
              <td>Atteding &nbsp; <button type="button" class="btn btn-primary btn-md"> Cancellation </button></td>
            </tr>
            <tr>
              <td>6. 5, 24시</td>
              <td>울산대</td>
              <td>유니스트</td>
              <td>3 / 3</td>
              <td>Atteding Success &nbsp;<button type="button" class="btn btn-primary btn-md"> Confirm the Seeker </button></td>
            </tr>
            <tr>
              <td>6. 10, 7시</td>
              <td>유니스트</td>
              <td>울산여고</td>
              <td>2 / 3</td>
              <td>Attending Canceled</td>
            </tr>
          </tbody>
        </table>
        <h2 style="text-indent:9999px;">blank</h2>
        <h2 style="text-indent:9999px;">blank</h2>
        <h3 class="text-center"> Taxi Pool : Seek Status</h3>
        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Departure time(MM. DD, HH)</th>
              <th>Departure</th>
              <th>Destination</th>
              <th>Number of Person(Limit)</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6. 11, 15시</td>
              <td>울산역</td>
              <td>유니스트</td>
              <td>2 / 3</td>
              <td>Seeking &nbsp;<button type="button" class="btn btn-primary btn-md"> Early closing / Cancellation </button></td>
            </tr>
            <tr>
              <td>6. 1, 12시</td>
              <td>울산역</td>
              <td>부산역</td>
              <td>2 / 3</td>
              <td>Normal Finish &nbsp;<button type="button" class="btn btn-primary btn-md"> Confirm the Attedees </button></td>
            </tr>
            <tr>
              <td>4. 29, 14시</td>
              <td>울산역</td>
              <td>부산역</td>
              <td>2 / 3</td>
              <td>Seek failed</td>
            </tr>
          </tbody>
        </table>
        <h2 style="text-indent:9999px;">blank</h2>
        <h2 style="text-indent:9999px;">blank</h2>
      </div>
    <!-- /본문 -->
    </div>
  </div>
{% endblock content %}